<?xml version="1.0" standalone='no'?><!--*-nxml-*-->
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<service-group>
  <name>__NAME__</name>
  <service>
    <type>_snrgy._tcp</type>
    <port>8080</port>
    <txt-record value-format="text">serial=__SERIAL__</txt-record>
  </service>
</service-group>

